
.topMenu{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  
  color: black;
  
  padding-top: 30px;
  padding-bottom: 10px;
  flex-direction: row;
  flex: 1;
  display: flex;
}

.topMenuCell {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.topMenuCell > div:first-child {
  font-size: 6vw;
}

.topMenuCell > div:nth-child(2) {
  font-size: 10vw;
  font-weight: 900;
}

.bottomMenu{
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;

  color: black;
  padding-top: 10px;
  padding-bottom: 0px;
  flex-direction: row;
  flex: 1;
  display: flex;
}

.timer{
  font-size: 10vw;
  font-weight: 900;
}

.videoClass{
  position: fixed;
  z-index:-999;
  top: 0;
  width: 100vw;
}